#main{position:absolute;padding: 20px 20px 0px 20px;background-color: #eee;border: 1px solid #999;}
#name{width: 200px;border:1px solid #999;float: left;background-color: white;}
#logo{width: 80px;height: 80px;margin: 20px;border:1px solid #999;float:left;background-color: #eee;}
#team{float: left;margin-top: 20px;}
#content{margin-left: 20px;float: left;border:1px solid #999;background-color: white;}
#pictures{margin-left: 20px;margin-bottom:20px;float: left;width: 120px;border: 1px solid #999;background-color: white;}
.logo1{width: 80px;height: 80px;margin: 20px;border:1px solid #999;background-color: #eee;}
p{padding-left: 20px;padding-right: 20px;}
